.app {
    width:100%;
    .card {
        width: 296px;
        box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

}
